/* Farben */
$main-color: #809682;
$text-color: #534D4D;
$highlight-color: #FFFFFF;
$background-color: #A7A7A7;
$light-background-color: #ECECEC;

/* Linien und Boxen */


/* Animationen */


/* Delay */
